<div>
  <!--<input #product type="text" id="txtProduct" name="txtProduct" list="dlProducts" />-->
  <!--<input type="button" id="btnAddProduct" (click)="addItem(product.value)" />-->
  <!--<app-grocery-item-list [items]="items" (deleteItem)="deleteItem($event)"></app-grocery-item-list>-->
  <!--<datalist id="dlProducts">-->
    <!--<option *ngFor="let suggestion of suggestions" [value]="suggestion"></option>-->
  <!--</datalist>-->

  <app-multi-select [items]="suggestions"></app-multi-select>
</div>
